# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
backend/.venv/

# env
.env

# editor/os
.vscode/
.DS_Store
Thumbs.db

# runtime data
data/*
!data/.gitkeep

uploads/*
!uploads/.gitkeep

logs/*
!logs/.gitkeep

storage/